.eventsContainer {
    border: none;
    display: flex;
    flex-wrap: wrap;
}

#root {
    height: 93%;
}

.eventCard {
    justify-content: space-evenly;
    flex-basis: 28%;
    padding: 10px;
    height: 115px;
}

.currentEventsListHeader {
    padding: 10px;
}

.getRidOfSpace {
    margin-bottom: 0 !important;
}

.addButton {
    margin-left: 4px !important;
}